html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

a{
  color: gray;
  text-decoration: none;
}

a:visited{
  color: #9e9e9e;
}

#logo{
  position: absolute; top: 0; left: 0;
}

#top_banner{
  position: absolute;
  top: 0;
  height: 9%;
  width: 100%;
}

#top_banner_text{
  position: absolute;
  margin-left: 13%;
  top: 10%;
  vertical-align: middle;
}

.teams{
  height: 30px;
  margin-left: 22px;
  margin-top: 1.2%;
  vertical-align: middle;
  cursor: pointer;
}

#team1{
    margin-left: 20%;
}

#bottom_banner{
  position: absolute;
  top: 9%;
  height: 9%;
  width: 100%;
  background-image: url("bottom_banner.png");
  background-position: right;
  background-repeat: no-repeat;
}

#menu1{
  width: 10.7%;
  height: 91%;
  float: left;
  cursor: pointer;
  float: left;
}

.menu1{
  margin-left: 15%;
}

.menu1_1:hover{
  border-bottom: 5px solid #e90052;
}

.menu1_2{
  margin-left: 10%;
  border-bottom: 5px solid #e90052;
}

.menu1_2:hover{
  border-bottom: 5px solid #e90052;
}

#menu1 h1{
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  margin-top: 15%;
  color: white;
}

#navigation{
  position: absolute;
  top: 18%;
  left: 15%;
  width: 85%;
  height: 8%;
}

#menu2{
  height: 119%;
  width: 9.09%;
  margin-top: -1.3%;
  float: left;
  cursor: pointer;
  color: #9e9e9e;
}

#menu2 h1{
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  padding-top: 20%;
}

.menu2_1{
  border-bottom: 5px solid #e90052;
  color: #9e9e9e;
}

.menu2_2:hover{
  border-bottom: 5px solid #e90052;
}

#table_banner{
  position: absolute;
  top: 20%;
  height: 30%;
  width: 100%;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
}

#table_banner h1{
  position: absolute;
  top: 26%;
  left: 6%;
  color: white;
  font-size: 30px;
}

#new_account_text{
  position: absolute;
  top: 52%;
  left: 15%;
  height: 6%;
  width: 76%;
  background-color: #e90052;
}

#new_account_text h1{
  position: relative;
  top: -30%;
  text-align: center;
  color: white;
  font-size: 25px;
}

#heading_one{
  position: absolute;
  top: 60%;
  left: 15%;
  float: left;
  font-size: 25px;
}

#first_name{
  position: absolute;
  top: 73.5%;
  left: 15%;
}

#last_name{
  position: absolute;
  top: 83.5%;
  left: 15%;
}

#email{
  position: absolute;
  top: 93.5%;
  left: 15%;
}

#username{
  position: absolute;
  top: 103.5%;
  left: 15%;
}

#username_hint{
  position: absolute;
  top: 109%;
  left: 30%;
  color: red;
  font-size: 14px;
}

#hint_text{
  position: absolute;
  top: 111%;
  left: 41.5%;
  height: 18px;
  width: 20%;
  color: red;
}

#password{
  position: absolute;
  top: 113.5%;
  left: 15%;
}

#form{
  position: absolute;
  top: 72%;
  left: 30%;
}

input[type=text], input[type=password] {
    width: 87%;
    padding: 12px 20px;
    margin: 13px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#register{
  position: absolute;
  top: 112%;
  left: -22%;
  height: 12%;
  width: 109%;
  background-color: #37003c;
  color: white;
  font-size: 25px;
  cursor: pointer;
  border: 0;
}

#register:hover{
  background-color: #e90052;
}

#sponsor{
  position: absolute;
  top: 146%;
  height: 15%;
  width: 100%;
  border-top: 5px solid #EEEEEE;
}

#sponsor_one{
  position: absolute;
  top: 10%;
  left: 16%;
  height: 80%;
}

#sponsor_two{
  position: absolute;
  top: 30%;
  left: 23.8%;
  height: 35%;
}

#sponsor_three{
  position: absolute;
  top: 5%;
  left: 40.5%;
  height: 70%;
}

#sponsor_four{
  position: absolute;
  top: 19%;
  left: 49.2%;
  height: 50%;
}

#sponsor_five{
  position: absolute;
  top: 22%;
  left: 58.5%;
  height: 40%;
}

#sponsor_six{
  position: absolute;
  top: 1%;
  left: 74.5%;
  height: 85%;
}
